/Entrenamiento/nbproject/private/
/Clase3/nbproject/private/
/Clase3/build/
/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Ejercicios_en_Clase/Ejercicios_1_Corte/build/
/Ejercicios_en_Clase/Ejercicios_1_Corte/dist/
/Retos/retos_1Corte/build/
/Entrenamientos/Entrenamiento/nbproject/private/
/Entrenamientos/Entrenamiento1/nbproject/private/
/Entrenamientos/Entrenamiento_1/nbproject/private/
/Entrenamientos/Entrenamiento_1/build/
/Aplicaciones_Graficas_JAVA/aplicaciones_1Corte/nbproject/private/
/Aplicaciones_Graficas_JAVA/aplicaciones_1Corte/build/
/Aplicaciones_Graficas_JAVA/aplicaciones_1Corte/dist/