/Entrenamiento/nbproject/private/
/Clase3/nbproject/private/
/Clase3/build/
/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Ejercicios_en_Clase/Ejercicios_1_Corte/build/
/Ejercicios_en_Clase/Ejercicios_1_Corte/dist/
/Retos/retos_1Corte/build/
/Entrenamientos/Entrenamiento/nbproject/private/
/Entrenamientos/Entrenamiento1/nbproject/private/
/Entrenamientos/Entrenamiento_1/nbproject/private/
/Entrenamientos/Entrenamiento_1/build/
/Aplicaciones_Graficas_JAVA/aplicaciones_1Corte/nbproject/private/
/Aplicaciones_Graficas_JAVA/aplicaciones_1Corte/build/
/Aplicaciones_Graficas_JAVA/aplicaciones_1Corte/dist/
/Aplicaciones_Graficas_JAVA/aplicaciones_2Corte/nbproject/private/
/Aplicaciones_Graficas_JAVA/aplicaciones_2Corte/build/
/Aplicaciones_Graficas_JAVA/Ejercicios_2_Corte/nbproject/private/
/Aplicaciones_Graficas_JAVA/retos_2_Corte/nbproject/private/
/Aplicaciones_Graficas_JAVA/retos_2_Corte/build/
/Aplicaciones_Graficas_JAVA/aplicaciones_1_Corte/nbproject/private/
/Aplicaciones_Graficas_JAVA/aplicaciones_2_Corte/nbproject/private/
/Aplicaciones_Graficas_JAVA/aplicaciones_2_Corte/build/
/Evaluaciones/Evaluaciones/nbproject/private/
/Evaluaciones/Evaluaciones/build/
/Aplicaciones_Graficas_JAVA/aplicaciones_2_Corte/dist/
/Entrenamientos/Entrenamiento_2/nbproject/private/
/Entrenamientos/Entrenamiento_2/build/
/Talleres/talleres/nbproject/private/
/Talleres/talleres/build/