/Entrenamiento/nbproject/private/
/Clase3/nbproject/private/
/Clase3/build/
/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Ejercicios_en_Clase/Ejercicios_1_Corte/build/
/Ejercicios_en_Clase/Ejercicios_1_Corte/dist/